CRATEDB_USERNAME=
CRATEDB_PASSWORD=
CRATEDB_HOST=
DBT_SCHEMA=

METABASE_ENABLED=
METABASE_URL=
METABASE_API_KEY=
METABASE_USERNAME=
METABASE_PASSWORD=
METABASE_CARD_IDS=
METABASE_DASHBOARD_ID=

METABASE_SITE_URL=

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_PASSWORD=
SUPABASE_DB_NAME=
SUPABASE_GOLD_SCHEMA=
SUPABASE_GOLD_TABLE=
SUPABASE_DB_URL=

OPENOBSERVE_BASE_URL=
OPENOBSERVE_USERNAME=
OPENOBSERVE_PASSWORD=
ZO_ROOT_USER_EMAIL=
ZO_ROOT_USER_PASSWORD=
OPENOBSERVE_OTLP_TRACES_URL=
OPENOBSERVE_OTLP_METRICS_URL=
OPENOBSERVE_ORG=
OPENOBSERVE_STREAM=
OPENOBSERVE_INGEST_URL=
OPENOBSERVE_TIMEOUT_SECONDS=